@layer utilities {
  .grid-areas-navbar {
    display: grid;
    grid-template-areas:
      "logo search-tabs profile"
      "search search search"; /* For md, lg, xl */
  }

  .logo {
    grid-area: logo;
  }

  .search-tabs {
    grid-area: search-tabs;
    justify-self: center;
  }

  .profile {
    grid-area: profile;
    justify-self: flex-end;
  }
  .search {
    grid-area: search;
    justify-self: center;
  }


  @media (max-width: 744px) {
    .grid-areas-navbar {
    grid-template-areas:
      "search search search";
  }

  .search-tabs {
    justify-self: center;
  }

 
  }
}