{
    "experimentalTernaries": true,
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSameLine": false,
    "parser": "typescript",
    "singleAttributePerLine": true,
    "singleQuote": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}